.profille__data {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 16px;
  padding-left: 30px;
  margin: 0;
  max-width: 336px;
  width: 100%;
  height: 73px;
}

@media (max-width: 880px) {
  .profille__data {
    max-width: 224px;
  }
}

@media (max-width: 584px) {
  .profille__data {
    grid-template-rows: auto;
    grid-row-gap: 0;
    padding-top: 26px;
    padding-left: 0;
    padding-bottom: 36px;
    text-align: center;
  }
}
