.popup__close {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  margin-left: 468px;
  padding-bottom: 0;
}

@media (max-width: 880px) {
  .popup__close {
    margin-left: 246px;
    padding-bottom: 15px;
  }
}

.popup__close:hover {
  opacity: 60%;
}
