.profille__specialization {
  margin: 0;
  height: 18px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 584px) {
  .profille__specialization {
    max-width: 282px;
    height: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}
