.form__close {
  position: absolute;
  max-width: calc(1280px - 846.72px - 376.72px);
  width: 100%;
  height: calc(1280px - 846.72px - 376.72px);
  right: -48.28px;
  top: -48.28px;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

@media (max-width: 584px) {
  .form__close {
    max-width: calc(320px - 264.62px - 18.62px);
    height: calc(320px - 264.62px - 18.62px);
    right: 0;
    top: -51.28px;
  }
}

.form__close:hover {
  opacity: 60%;
}
