.popup__close-img {
  margin: 0;
  height: 40px;
  max-width: 40px;
  width: 100%;
  box-sizing: border-box;
  transform: rotate(45deg);
}

@media (max-width: 880px) {
  .popup__close-img {
    height: 26px;
    max-width: 26px;
    width: 100%;
  }
}
